html {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1,
h2 {
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}
p {
  font-size: 21px;
  color: gray;
}

p.link {
  color: aquamarine;
  font-size: 16px;
}
